
body {
    font-family: 'Oswald', sans-serif;
}

.color-white {
    color: #ffffff;
}

.color-pink {
    color: #edbfff;
}

.color-gray {
    color: #454545;
}

.color-lightgray {
    color: #b9b9b9;
}

.text-up {
    text-transform: uppercase;
}


.font18{
    font-size: 18px;
}

.font24 {
    font-size: 24px;
}
.font32 {
    font-size: 32px;
}

.font60 {
    font-size: 60px;
}

.text-bold {
    font-weight: 700;
}

.text-shadow {
    text-shadow:  black 1px 0 10px;
}

