main {
    background-color: #f9f9f9;
    .about {
        background: linear-gradient(to bottom, #714e7f, #4c3656);
            .main-content {
               @include flexbox; 
                    .main-content-container {
                        padding: 90px 60px 60px 60px;
                        position: relative;
                            a {
                                text-decoration: none;
                                float: right;
                                text-shadow: black 1px 0 10px;
                                &:hover{
                                    text-shadow: white 1px 0 10px;
                                }
                            }

                        &:nth-child(1) {
                            &:after {
                                content: "";
                                background-image: url(../img/main-content-item1.png);
                                background-repeat: no-repeat;
                                background-size: auto;
                                width: 30px;
                                height: 30px;
                                position: absolute;
                                left: 20px;
                                top: 70px;
                            }
                        }
                        &:nth-child(2) {
                            &:after {
                                content: "";
                                background-image: url(../img/main-content-item2.png);
                                background-repeat: no-repeat;
                                background-size: auto;
                                width: 30px;
                                height: 30px;
                                position: absolute;
                                left: 20px;
                                top: 70px;
                            }
                        }
                        &:nth-child(3) {
                            &:after {
                                content: "";
                                background-image: url(../img/main-content-item3.png);
                                background-repeat: no-repeat;
                                background-size: auto;
                                width: 30px;
                                height: 30px;
                                position: absolute;
                                left: 20px;
                                top: 70px;
                            }
                        }
                    }
            }     
            
        
    }
    .pingbuller {
        @include flexbox;
        @include justify-content(space-between);
        a {
            text-decoration: none;
        }
        padding: 100px 20px 70px 20px;
        .start-here {
            width: 45%;
            position: relative;
            img {
                position: absolute;
                left: -25px;
                top: 10px;
                width: 45px;
                height: 45px;
                border-radius: 50%;
            }
    
            
        }
        .recent {
            width: 45%;
            .recent-content {
                @include flexbox;
                
                .recent-text {
                    width: 70%;
                    padding: 10px;
                }

                .image {
                    background-image: url(../img/main-content-texture.png);
                    width: 45px;
                    height: 45px;
                    border-radius: 50%;
                    margin: 10px;
                    
                }
                
                
            }

            
        }
        .start-here-content {
            background-color: white;
            padding: 30px;
           
        }
        
    }
    a.read-more {
        float: right;
        text-decoration: none;
    }
}

.logo-item {
    background-color: #f9f9f9;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    .logo-image {
        background-image: url(../img/main-content-logo3.png);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        height: 120px;
    }
}