@media (max-width: 960px) {
    .wrapper {
        width: 728px;
    }
    .nav-menu {
        width: 100%;  
    }
    header {   
        padding-bottom: 240px;     
    }

    .slider { 
        top: 70px;      
    }
    .content:after {
        content: "";
        background-image: url(../img/slider-left.png);
        background-repeat: no-repeat;
        position: absolute;
        top: 200px;
        left: -30px;
        width: 35px;
        height: 35px;
    
    }
    .content:before {
        content: "";
        background-image: url(../img/slider-right.png);
        background-repeat: no-repeat;
        position: absolute;
        right: -30px;
        top: 200px;
        width: 35px;
        height: 35px;
    
    }
}


@media (max-width: 768px) {
    .wrapper {
        width: 440px;
    }
    .header-menu {
        justify-content: center;
    }
    ul.nav-menu li {
        display: none;
    }
    ul.nav-menu li:first-child {
        display: block;
        margin-right: 0px;

    }
    .nav-menu {
        justify-content: center;
        
    }
    .display-none1{
        display: none;
    }
    .main-content {
        @include flex-wrap(wrap);
    }
    .main-content-container {
        width: 100%;
        padding: 70px 10px 20px 10px !important;
    }
    .main-content-container {
        padding: 90px 60px 60px 60px;
        position: relative;
            a {
                text-decoration: none;
                float: right;
            }

        &:nth-child(1) {
            &:after {
                left: -20px!important;
                
            }
        }
        &:nth-child(2) {
            &:after {
                left: -20px!important;
            }
        }
        &:nth-child(3) {
            &:after {
                left: -20px!important;
            }
        }
    }
    .pingbuller {
        @include flex-wrap(wrap);
        .start-here, .recent {
            width: 100%!important;
        }
        .recent {
            margin-top: 100px;
        }
        .scroll {
            top: 115%;
        }
    }
        .logo-image {
            background-image: url(../img/main-content-logo480.png)!important;          
            height: 230px!important;
        }
     .footer-content {
           @include flex-wrap(wrap);
           &:last-child {
               padding-bottom: 50px;
           }
            div {
                width: 100%!important;
                padding: 50px 0px 0px 0px!important;
                
            }
        }  
    .footer-nav {
         .wrapper {
                @include flex-wrap(wrap);
                ul {
                    width: 100%;
                   
                }
                div {
                    width: 100%;
                   text-align: center;
                   padding-top: 20px;
                }
               
         }
     }  
}

@media (max-width: 480px) {
    .wrapper {
        width: 280px;
    }
    .display-none {
        display: none;
    }
    .slider {
        background-color: rgba( 0, 0, 0, 0.0)
    }
    
    .content:after {
        content: "";
        background-image: url(../img/slider-left.png);
        background-repeat: no-repeat;
        position: absolute;
        top: 0px;
        left: -80px;
        width: 35px;
        height: 35px;
    
    }
    .content:before {
        content: "";
        background-image: url(../img/slider-right.png);
        background-repeat: no-repeat;
        position: absolute;
        right: -80px;
        top: 0px;
        width: 35px;
        height: 35px;
    
    }
    .scroll {
        top: 300%;
    }
    .logo-image {
        background-image: url(../img/main-content-logo320.png)!important;          
        height: 420px!important;
    }
    .footer-content {
        display: none!important;
    }
    .footer-nav {
        .wrapper {
              
               ul {
                   display: none;
                  
               }
               
              
        }
    }  
    
    
}

