/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

header {
  background-image: url(../img/header-bg.jpg);
  padding-bottom: 340px;
  background-size: cover;
  background-position: center;
  position: relative;
}

.wrapper {
  width: 960px;
  margin: 0 auto;
}

.nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -ms-flex-pack: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.slider-img {
  position: relative;
  top: -20px;
}

.nav-menu a {
  line-height: 61px;
  height: 61px;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}

.nav-menu a:hover {
  border-bottom: 2px solid pink;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.nav-menu li {
  margin-right: 52px;
  height: 61px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.nav-menu li:last-child {
  margin-right: 0px;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.content:after {
  content: "";
  background-image: url(../img/slider-left.png);
  background-repeat: no-repeat;
  position: absolute;
  top: 200px;
  left: -100px;
  width: 35px;
  height: 35px;
}

.content:before {
  content: "";
  background-image: url(../img/slider-right.png);
  background-repeat: no-repeat;
  position: absolute;
  right: -100px;
  top: 200px;
  width: 35px;
  height: 35px;
}

.slider {
  position: relative;
  top: 170px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.scroll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -webkit-box-pack: center;
          justify-content: center;
  -ms-flex-pack: center;
  position: absolute;
  top: 120%;
  width: 250px;
  left: 50%;
  margin-left: -125px;
}

.scroll-item {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background-color: black;
  opacity: 0.3;
  margin: 0 5px 0 5px;
}

.scroll-item:hover {
  background-color: white;
  opacity: 0.7;
  margin: 0 5px 0 5px;
}

main {
  background-color: #f9f9f9;
}

main .about {
  background: -webkit-gradient(linear, left top, left bottom, from(#714e7f), to(#4c3656));
  background: linear-gradient(to bottom, #714e7f, #4c3656);
}

main .about .main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .about .main-content .main-content-container {
  padding: 90px 60px 60px 60px;
  position: relative;
}

main .about .main-content .main-content-container a {
  text-decoration: none;
  float: right;
  text-shadow: black 1px 0 10px;
}

main .about .main-content .main-content-container a:hover {
  text-shadow: white 1px 0 10px;
}

main .about .main-content .main-content-container:nth-child(1):after {
  content: "";
  background-image: url(../img/main-content-item1.png);
  background-repeat: no-repeat;
  background-size: auto;
  width: 30px;
  height: 30px;
  position: absolute;
  left: 20px;
  top: 70px;
}

main .about .main-content .main-content-container:nth-child(2):after {
  content: "";
  background-image: url(../img/main-content-item2.png);
  background-repeat: no-repeat;
  background-size: auto;
  width: 30px;
  height: 30px;
  position: absolute;
  left: 20px;
  top: 70px;
}

main .about .main-content .main-content-container:nth-child(3):after {
  content: "";
  background-image: url(../img/main-content-item3.png);
  background-repeat: no-repeat;
  background-size: auto;
  width: 30px;
  height: 30px;
  position: absolute;
  left: 20px;
  top: 70px;
}

main .pingbuller {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -ms-flex-pack: space-between;
  padding: 100px 20px 70px 20px;
}

main .pingbuller a {
  text-decoration: none;
}

main .pingbuller .start-here {
  width: 45%;
  position: relative;
}

main .pingbuller .start-here img {
  position: absolute;
  left: -25px;
  top: 10px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

main .pingbuller .recent {
  width: 45%;
}

main .pingbuller .recent .recent-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .pingbuller .recent .recent-content .recent-text {
  width: 70%;
  padding: 10px;
}

main .pingbuller .recent .recent-content .image {
  background-image: url(../img/main-content-texture.png);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin: 10px;
}

main .pingbuller .start-here-content {
  background-color: white;
  padding: 30px;
}

main a.read-more {
  float: right;
  text-decoration: none;
}

.logo-item {
  background-color: #f9f9f9;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}

.logo-item .logo-image {
  background-image: url(../img/main-content-logo3.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 120px;
}

footer {
  background-color: #ececec;
}

footer .footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  justify-content: space-around;
  -ms-flex-pack: space-around;
}

footer .footer-content div {
  width: 30%;
  padding: 100px 0px 100px 0px;
}

.footer-nav {
  background-image: url(../img/header-bg.jpg);
  padding: 50px 0px 50px 0px;
}

.footer-nav .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  justify-content: space-around;
  -ms-flex-pack: space-around;
}

.footer-nav .wrapper ul {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -ms-flex-pack: space-between;
}

.footer-nav .wrapper ul a {
  text-decoration: none;
}

.footer-nav .wrapper div {
  width: 30%;
  text-align: right;
}

body {
  font-family: 'Oswald', sans-serif;
}

.color-white {
  color: #ffffff;
}

.color-pink {
  color: #edbfff;
}

.color-gray {
  color: #454545;
}

.color-lightgray {
  color: #b9b9b9;
}

.text-up {
  text-transform: uppercase;
}

.font18 {
  font-size: 18px;
}

.font24 {
  font-size: 24px;
}

.font32 {
  font-size: 32px;
}

.font60 {
  font-size: 60px;
}

.text-bold {
  font-weight: 700;
}

.text-shadow {
  text-shadow: black 1px 0 10px;
}

@media (max-width: 960px) {
  .wrapper {
    width: 728px;
  }
  .nav-menu {
    width: 100%;
  }
  header {
    padding-bottom: 240px;
  }
  .slider {
    top: 70px;
  }
  .content:after {
    content: "";
    background-image: url(../img/slider-left.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 200px;
    left: -30px;
    width: 35px;
    height: 35px;
  }
  .content:before {
    content: "";
    background-image: url(../img/slider-right.png);
    background-repeat: no-repeat;
    position: absolute;
    right: -30px;
    top: 200px;
    width: 35px;
    height: 35px;
  }
}

@media (max-width: 768px) {
  .wrapper {
    width: 440px;
  }
  .header-menu {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  ul.nav-menu li {
    display: none;
  }
  ul.nav-menu li:first-child {
    display: block;
    margin-right: 0px;
  }
  .nav-menu {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .display-none1 {
    display: none;
  }
  .main-content {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .main-content-container {
    width: 100%;
    padding: 70px 10px 20px 10px !important;
  }
  .main-content-container {
    padding: 90px 60px 60px 60px;
    position: relative;
  }
  .main-content-container a {
    text-decoration: none;
    float: right;
  }
  .main-content-container:nth-child(1):after {
    left: -20px !important;
  }
  .main-content-container:nth-child(2):after {
    left: -20px !important;
  }
  .main-content-container:nth-child(3):after {
    left: -20px !important;
  }
  .pingbuller {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .pingbuller .start-here, .pingbuller .recent {
    width: 100% !important;
  }
  .pingbuller .recent {
    margin-top: 100px;
  }
  .pingbuller .scroll {
    top: 115%;
  }
  .logo-image {
    background-image: url(../img/main-content-logo480.png) !important;
    height: 230px !important;
  }
  .footer-content {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .footer-content:last-child {
    padding-bottom: 50px;
  }
  .footer-content div {
    width: 100% !important;
    padding: 50px 0px 0px 0px !important;
  }
  .footer-nav .wrapper {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .footer-nav .wrapper ul {
    width: 100%;
  }
  .footer-nav .wrapper div {
    width: 100%;
    text-align: center;
    padding-top: 20px;
  }
}

@media (max-width: 480px) {
  .wrapper {
    width: 280px;
  }
  .display-none {
    display: none;
  }
  .slider {
    background-color: rgba(0, 0, 0, 0);
  }
  .content:after {
    content: "";
    background-image: url(../img/slider-left.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 0px;
    left: -80px;
    width: 35px;
    height: 35px;
  }
  .content:before {
    content: "";
    background-image: url(../img/slider-right.png);
    background-repeat: no-repeat;
    position: absolute;
    right: -80px;
    top: 0px;
    width: 35px;
    height: 35px;
  }
  .scroll {
    top: 300%;
  }
  .logo-image {
    background-image: url(../img/main-content-logo320.png) !important;
    height: 420px !important;
  }
  .footer-content {
    display: none !important;
  }
  .footer-nav .wrapper ul {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */